.profile-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: var(--background-color-user);
   
}
.current-info {
    text-align: center;
    justify-content: center;
    margin-bottom: 1.2rem;
}
h2{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--main-color)!important ;
}
.profile-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
p{
    font-size: 1.2rem;
    color: var(--secondary-color);
    justify-content: flex-start;
}
.edit-profile {
    background-color: var(--button--primary);
    width: 15%;
    align-self: center;
    color: white;
    border: none;
    padding: 0.6rem 0.8rem;
    margin-bottom: 1rem;;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.edit-personal-info{
    position: fixed !important;
    top: 20%;
    left: 20%;  
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 40%;
    background: var(--secondary-color);
    
    padding: 2rem;
    gap: 0.5rem;
    border-radius: 12px;
    box-shadow: var(--box-shadow);

}
.edit-personal-info h3{
    color: var(--text-color)!important;
}
.edit-personal-info input {
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
    margin-bottom: 0.3rem;
    color: var(--text-color);   
}
.edit-personal-info input:focus {
    outline: none;
} 
.delete-account{
    margin-top: 1rem;
}

input .file-button {
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    margin-bottom: 0.3rem;
    color: var(--text-color);
    background-color: transparent;
    cursor: pointer;
}


/*Media Queries*/
@media (max-width: 480px) {
  .edit-personal-info {   
    width: 90% !important;
    left: 5% !important;
    top: 10% !important;
    padding: 1.5rem !important;
  }

 .profile-container h2 {
    font-size: 1.5rem !important; 
    z-index: 100;
  }

  .profile-img {
    width: 150px;
    height: 150px;
  }

  .edit-profile {
    width: 60% !important;
  }
}
