h1{
  margin-top: 2.5rem;
  color: var(--main-color)!important;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  }

.info-content {
  color: var(--secondary-color)!important;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1.2rem;  
  margin-top: 5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  align-items: center;
  justify-content: center;
}

.info-users-card,
.info-movies-card,
.info-admins-card {
  width: 98%;
  background: var(--background-color-admin);
  padding: 1.2rem;
  margin-right: 2rem;
  border-radius: 12px;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--secondary-color)!important;
  
}

.info-users-icon,
.info-movies-icon,
.info-admins-icon {
  font-size: 2.5rem;
  margin-right: 1rem;
}

.info-users-details h3,
.info-movies-details h3, 
.info-admins-details h3 { 
  color: var(--secondary-color)!important;
  font-size: 1.5rem;
}
.info-users-details p,
.info-movies-details p, 
.info-admins-details p {

  font-size: 1.2rem; 
  font-weight: bold;
  color: var(--secondary-color)!important;
  }

.info-users-card:hover,
.info-movies-card:hover,
.info-admins-card:hover {
  background-color: var(--secondary-color) !important; 
  cursor: pointer;
  transition: all 0.3s ease;
}


.info-users-card:hover h3,
.info-movies-card:hover h3,
.info-admins-card:hover h3,
.info-users-card:hover p,
.info-movies-card:hover p,
.info-admins-card:hover p {
  color: var(--text-color) !important; 
}

.info-admins-icon,
.info-admins-details,
.info-users-icon,
.info-users-details,
.info-movies-icon,
.info-movies-details{
  cursor:default !important;
}

@media (max-width: 480px) {
  .info-content h3 {
    display: none;
  }
  h1{
    font-size: 1.5rem;
  }
}
.info-users-card:hover p,
.info-movies-card:hover p,
.info-admins-card:hover p {
  font-weight: bold; 
}