
.loader {
  width: 100%;
  height: 3rem;
  display: flex;
  color: var(--primary-color);
 
}
.favourite-table{
  width: 100%; 
  background-color: var(--background-color-admin) !important;
  border-radius: 12px;
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  margin-left: 0.2rem;
}
h2{
  font-size: 1.8rem !important;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: var(--text-color) !important;
}
img{
  width: 100px;
  height: auto;
}

table {
  width: 100%;
  border-collapse: collapse;  
  color: var(--text-color);
}
thead {
  width: 100%; 
  background-color: #f8f9fa;
  border-bottom: 2px solid #edf2f7;
}
th {
  text-align: left;
  padding: 1rem;
  font-size: 0.85rem;
  text-transform: uppercase;  
  color: var(--text-color);
  justify-content: space-evenly;
}

td {
  padding: 16px;
  border-bottom: 1px solid #edf2f7;
  font-size: 0.95rem;  
  color: var(--text-color);
  cursor: default;
}

