:root{
    --primary-color: #3d3d3d;           
    --secondary-color: #b8b6b6;          
    --main-color: #ff0202;              
    --text-color: #333333; 
    --text-text-color: #060606;
    --background-color-user: var(--primary-color);    
    --background-color-admin: var(--primary-color)
    --font-style: "Book Antiqua", serif;
    --box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
    --box-shadow-user: 0 8px 20px rgba(219, 219, 219, 0.3);   
    --button--primary: #0393a7;        
    --button--secondary: #76c018;      
    --button--danger: #f33a19;         
    --errors-div: #ffff47;                
}

body, html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-x: hidden;  
  background-color: var(--primary-color); 
  font-family: var(--font-style);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-style);
  
}
textarea {
    resize: none;
    color: var(--text-text-color) !important;
    font-family: var(--font-style);
    border-radius: 12px;
    border: 1px solid var(--secondary-color);
    padding: 0.8rem;
    font-family: var(--font-style);
}
input, select {
    color: var(--text-text-color) !important;
    font-family: var(--font-style);
}

a {
    text-decoration: none;
    color: inherit;
}

input::placeholder {
    color: var(--text-text-color) !important;
    
}