.admin-person-container {
  display: flex;
  flex-direction: column;  
}
h3{
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
  margin-left: 0.2rem;
}
ul{   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none !important;

    display: flex;
    gap: 2rem;
    margin-left: auto;
    margin-right: 1rem;
}
h2{
    color: var(--text-color);
    font-size: 1.5rem;   
}
p{
    color: var(--text-color);
    font-size: 1rem;
}

li a{
    text-decoration: none !important;     
    font-size: 1rem;
}
li:hover a{
    color: var(--primary-color);
    text-decoration: none !important;
}